.menu {
  position: relative;
  width: 90%;
  height: 100vh;
  z-index: 10;
  background-color: deepskyblue;
  opacity: 1;
}

.open {
  animation: 0.4s ease-in-out menu-open;
}

.close {
  animation: 0.4s ease-in-out menu-close;
}

@keyframes menu-open {
  from {
    transform: translateX(-20rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20rem);
  }
}

@keyframes menu-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.contents {
  width: 100%;
  height: 110vh;
  background-color: lightgray;
  text-align: right;
}

.fixed {
  position: fixed;
}
